<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mundial 2020</title>
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<div id="contGeneral">
		<header >
			<p>Liga de Futbol Profesional</p>	
		</header>
		<nav>
			<ul>
				<li><a href="Index.html">Home</a></li>
				<li><a href="fixture.html">Fixture y resultados</a></li>
				<li><a href="equipos.html">Equipos</a></li>
			</ul>
		</nav>
		<div class="cuerpo">
			<section>
				<h1>Equipos</h1>
				<div class="cont-target">
					<img src="Image/logo_river.jpg" alt="Logo">
					<article>El Club Atlético River Plate, más conocido simplemente como River Plate, es una entidad polideportiva con sede en Buenos Aires, Argentina.10 El club fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales. Su nombre proviene de la antigua denominación que se le daba en inglés británico al Río de la Plata.1112 Su principal disciplina es el fútbol masculino profesional, que milita actualmente en la Primera División de Argentina. Además, en el club se practican otras 65 disciplinas distintas, posee institutos educativos en todos los niveles académicos y fomenta actividades culturales y sociales de diversa índole.13
					Su estadio es el Antonio Vespucio Liberti, popularmente conocido como «El Monumental». Es el estadio de mayor capacidad del país y el sexto de América, con una capacidad para 70 074 espectadores.8 En este recinto es donde habitualmente desempeña su localía la selección de fútbol de Argentina.
					River Plate es uno de los clubes de fútbol más laureados y reconocidos del mundo, con un total de 66 títulos oficiales.14 De ese total 63 han sido conseguidos durante el profesionalismo del fútbol argentino, siendo el club más exitoso en la historia desde su profesionalización en 1931. En el plano nacional, ostenta el récord de ser el máximo campeón del fútbol argentino al haber ganado 36 campeonatos de Primera Divisiónn. 1. Además, alcanzó el título de campeón en 12 copas nacionales oficialesn. 2. River es poseedor de varios récords en el plano nacional: es el líder de la tabla histórica de la Primera División de Argentina, el club con más partidos ganados, mayor cantidad de goles marcados y mejor diferencia de gol durante la etapa profesional del fútbol argentino, así como también el club con el menor número de partidos perdidos y goles recibidos. Además, es el equipo que más veces ha conseguido un tricampeonato de liga, en cuatro oportunidades.15
					En el ámbito internacional posee 18 títulos oficiales de mayores, 12 de ellos organizados por la Confederación Sudamericana de Fútbol (Conmebol), entre los que se cuentan una Copa Intercontinental, cuatro Copas Libertadores, una Copa Interamericana, una Copa Sudamericana, una Supercopa Sudamericana, tres Recopas Sudamericanas y una Copa Suruga Bank. Los restantes seis títulos consisten en cinco Copas Aldao y una Cup Tie Competition, siendo torneos internacionales organizados en conjunto por la Asociación del Fútbol Argentino y la Asociación Uruguaya de Fútbol en la época previa a la organización de torneos para clubes por parte de la Conmebol.1617 Ocupa el primer puesto en la tabla histórica de la Copa Libertadores de América, habiéndola disputado en 35 oportunidades. Es el club argentino con más participaciones, el quinto en la clasificación general y el cuarto club más laureado junto al Club Estudiantes de La Plata.
					</article>
				</div>	
				<div class="cont-target">
					<img src="Image/barcelona_logo.jpg" alt="Logo">
					<article>
						El Fútbol Club Barcelona (en catalán, Futbol Club Barcelona), conocido popularmente como Barça es una entidad polideportiva de Barcelona, España. Fue fundado como club de fútbol el 29 de noviembre de 1899 y registrado oficialmente el 5 de enero de 1903.789 Es uno de los cuatro clubes profesionales de España junto a Real Madrid Club de Fútbol, Athletic Club y Club Atlético Osasuna que no es sociedad anónima, de manera que la propiedad del club recae en sus socios.
						Tanto el club como sus hinchas reciben el apelativo de culés y también, en referencia a sus colores, como azulgranas o blaugranas, tal como aparece en su himno, el «Cant del Barça», el cual en su segunda línea menciona «Som la gent blaugrana» (en castellano, «Somos la gente azulgrana»). A nivel institucional, el Fútbol Club Barcelona tiene a su servicio, para atender a socios, simpatizantes y público en general, la Oficina de Atención al Barcelonista, donde quien lo solicita es atendido en los idiomas oficiales del club, que son el catalán, el castellano y el inglés. 
						Una de las principales características del F. C. Barcelona es su carácter polideportivo. Se distingue de las demás instituciones deportivas por el hecho de que posee un extenso palmarés a nivel europeo, por el alto nivel de formación de sus jugadores, el potencial económico que maneja, por la calidad de los jugadores y también porque «posee una remarcable cultura del juego y del triunfo».Asimismo, los medallistas olímpicos que han representado a la entidad blaugrana han conquistado once oros, veintitrés platas y veintiocho bronces en las distintas disciplinas deportivas.
						Otro de sus hechos distintivos es su masa social de socios y aficionados. El club ha logrado integrar de forma estratégica cuestiones políticas, religiosas, culturales y sociales, que van enmarcadas dentro del ámbito deportivo, esto permite que los socios y los aficionados respondan a todos los eventos sociales del club, también que tengan mayor participación en actividades administrativas y se fortalezcan los vínculos entre las peñas.En 2011 alcanzó los 180 000 socios, siendo hasta ese momento el segundo equipo con más asociados del mundo, seguido por el Manchester United F. C..Existen, además, 1175 peñas barcelonistas repartidas por todo el mundo.
					</article>
				</div>			
			</section>
			<aside>
				<h2>Auspiciantes</h2>
				<img src="Image/adidas.jpg">
				<img src="Image/garena.jpg">
				<img src="Image/intel.jpg">
				<img src="Image/macro.jpg">
			</aside>
		</div>
		
		<footer style="text-align: center">
			<small>Av.Pedro Ortiz de Zarate Nº 455	- Tel 3884254678<br>
			Copyright (C) Microsoft Corporation. Todos los derechos reservados.</small>
		</footer>
	</div>
	
</body>
</html>